<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!---Bootstrap and custom styles--->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/footer.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/header-user-dropdown.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie|Itim' rel='stylesheet' type='text/css'>
    <!---Estilos Calendario--->
    <link href='../static/css/fullcalendar.css' rel='stylesheet'/>
    <link href='../static/css/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <!--Scripts Calendario-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src='../static/js/moment.min.js'></script>
    <script src='../static/js/jquery.min.js'></script>
    <script src='../static/js/fullcalendar.min.js'></script>
    <script src='../static/js/es.js'></script>
    <!---Script librerias externas--->
    <script src="/static/js/bootstrap.min.js"></script>

    <title>Sitema Turnos</title>

    <!---Inicio Script calendario (SACAR)--->
    <script>
    $(document).ready(function() {
      $('#calendarioCalendario').fullCalendar({
        height: 260,
        defaultDate: '{{today}}',
        editable: true,
        eventLimit: true,
        dayClick: function(date, jsEvent, view) {
          document.getElementById("demo").innerHTML = date.format();
          window.location.href = 'http://127.0.0.1:8000/cambioDia/' + date.format();
        }
      });
      $('#calendarioCalendario').defaultDate.css('background-color', 'green');
    });
    </script>
    <!---Fin Script calendario (SACAR)--->
    <body>
      <header class="header-user-dropdown">

      	<div class="header-limiter">
      		<h1>Dental<span>Clinic</span></h1>

      		<div class="header-user-menu">
      			<img src="/static/imagenes/Doctor.png" alt="User Image"/>

      			<ul>
      				<li><a href="#">Settings</a></li>
      				<li><a href="/logout" class="highlight">Logout</a></li>
      			</ul>
      		</div>
      	</div>
      </header>


      <div id='general'>
        <div id='contenedorPrincipal'>
          <div id='contenedorPrimarioIzquierda'>
            <div id='calendario'>
              <div id='calendarioCalendario'></div>
            </div>
            <div id='medicos'>

              <div class="form-group" style="width:120px">
                <label for="sel1">Medicos</label>
                <a href="{%url 'aplicacionTurnos.views.cambioDia' dia='%s'  % (today)}">
                <select class="form-control" id="sel1">
                  <option>-------</option>
                  {%for medico in medicos%}
                    ><option>{{medico}}</option>
                  {%endfor%}
                </select>
                </a>
                <div id="demo">{{today}}</div>
              </div>

            </div>
          </div>
          <div id='dia'>
            {% block tablas %}
            <table id="table" class="table table-hover">
              <font size=5><p align=center>Turnos</p></font>
              <tr>
                <td class="warning">Medico</td>
                <td class="warning">Paciente</td>
                <td class="warning">Horario</td>
                <td class="warning">Tratamiento</td>
                <td class="warning">Estado</td>
              </tr>
              {% for turno in turnos %}
              <tr>
                  <td class="success">{{turno.medico}}</td>
                  <td class="success">{{turno.paciente}}</td>
                  <td class="success">{{turno.horario}}</td>
                  <td class="success">{{turno.estado}}</td>
                  <td class="success">{{turno.tratamiento}}
                  <td class="success"><a href="{% url 'aplicacionTurnos.views.editarTurno' pk=turno.pk %}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a></td>
                  <td class="success"><a href="{% url 'aplicacionTurnos.views.eliminarTurno' pk=turno.pk %}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></td>
                </tr>
              {% endfor %}
            </table>
            {%endblock%}
          </div>
        </div>
        <div id="contenedorSecundario">
          <!--Boton Para Nuevo Medico y Tabla de Medicos-->
           <div class="col-sm-3 what-we-do-box">
             <div class="what-we-do-box-icon">
               <a class="btn btn-ttc" href="{%url 'aplicacionTurnos.views.nuevoMedico'%}">
                 <i class="fa fa-user-md fa-4x"></i></a></div>
                <h3>Medico</h3>
                <p>Agregar y Administrar Medicos</p>
             </div>
             <!--Boton para Nuevo Paciente y Tabla de Pacientes-->
             <div class="col-sm-3 what-we-do-box">
             <div class="what-we-do-box-icon">
               <a class="btn btn-ttc" href="{% url 'aplicacionTurnos.views.nuevoPaciente' %}">
                 <i class="fa fa-user fa-4x"></i></a></div>
                 <h3>Paciente</h3>
                 <p>Agregar y Administrar Pacientes</p>
             </div>
             <!--Boton para nuevo turno-->
             <div class="col-sm-3 what-we-do-box">
             <div class="what-we-do-box-icon">
               <a class="btn btn-ttc" href="{%url 'aplicacionTurnos.views.nuevoTurno'%}">
                 <i class="fa fa-plus-square fa-4x"></i></a></div>
                 <h3>Nuevo Turno</h3>
                 <p>Agregar y Administrar Turnos</p>
             </div>
             <!--Boton para Auxiliares-->
             <div class="col-sm-3 what-we-do-box">
             <div class="what-we-do-box-icon">
               <div class="btn-group btn-ttc ">
                 <button type="button" class="btn dropup-toggle boton-trans" data-toggle="dropdown">
                   <i class="fa fa-list-alt fa-4x"></i></a>
                   <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu">
                   <li><a href="{%url 'aplicacionTurnos.views.nuevoObraSocial'%}">Obra Social</a></li>
                   <li><a href="{%url 'aplicacionTurnos.views.nuevoTratamiento'%}">Tratamiento</a></li>
                   <li><a href="{%url 'aplicacionTurnos.views.nuevoEspecialidad'%}">Especialidad</a></li>
                 </ul>
               </div>
             </div>
             <h3>Auxiliares</h3>
             <p>Crear y Administrar Turnos</p>
           </div>
        </div>
      </div>
    </body>
</html>
