<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <!---Bootstrap and custom styles--->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/footer.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/stylelog.css">
    <!---Script librerias externas--->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/indexlog.js"></script>
    <title>Login Form</title>
</head>
<body>
  <div class="login">
    <h1>Login</h1>
    <form class="form-signin" method="POST">{% csrf_token %}
      <input type="text" class="form-control" name="username" placeholder="Usuario" required autofocus>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
      <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
